<header class="post-header">
	{{ if .Params.refs }}
	    <a class="u-in-reply-to" href="{{ .Params.refs }}" style="color:#E24E42;" target="_blank" rel="in-reply-to"> 
	    	<h1 class="link-title p-name" itemprop="name headline">
	    		{{ .Title }} 
	    		<span class="icn">→</span>
	    	</h1></a>
	{{ else }}
			<h1 class="post-title p-name" itemprop="name headline">{{ .Title }}</h1>
	{{ end }}
    {{ if .Description }}
        <p class="post-description" itemprop="description">{{ .Description }}</p>
    {{ else }}
    	{{ if not .Params.refs }}
    		<p class="post-description" itemprop="description">
    			{{ if in .Params.tags "fiction" }} A Short Story {{end}} 
				by Amit Gawande
				<div class="p-author h-card" style="display: none;">
					<a class= "u-url" href="https://www.amitgawande.com">Amit Gawande</a>
					<img class="u-photo" src="/img/profile.jpeg" />
				</div>				
		    </p>
	    {{ end }}
    {{ end }}
    <p class="post-date">
        <span>
        	<a class="u-url" href="{{ .Permalink }}">
        	<time class="dt-published" datetime="{{ dateFormat "02 Jan 06 15:04 MST" .Date.UTC }}" itemprop="datePublished">
        		{{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date.UTC }}
        	</time> </a>
        </span>
        <span>・ {{ .ReadingTime }} minutes read</span>
    </p>
</header>